<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
    <title>Preview About</title>
</head>

<body>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>

        </div>
        <div class="about-container">

            <div class="image-container">
                <img src="../../../assets/images/b8.jpg" alt="">

            </div>

            <div class="text-container">
                <h1>About us</h1>
                <b> One of the best love language is gifting!</b>
                <br>
                Gifts make a connection between the sender and the receiver.<br />
                It is a token of love.<br />
                You don’t need an occasion to make your friends and family feel
                overwhelmed.<br />
                <p> Here comes the <i>E-Gift Karo</i> in the picture!<br /></p>

                If it is difficult to find the right gift for them, give them a gift card.
                <br />You can consider gifting on their birthday, anniversary, mother’s
                day, father’s day,<br />
                or any other occasion.<br />
                We will email them your token of love.<br /><br />
            </div>

        </div>
    </div>


</body>

</html>